/* Esercizio 1 */
.ex-1-square{
    background-color:white;
    transition: background-color 1s;
}
.ex-1-square:hover{
    background-color: red;
}
/* esercizio 2 */
.ex-2-square{
    transition: width 1s;
}
.ex-2-square:active{
    width: 100%;
}
/* esercizio 3 */
.ex-3-square{
    transition: 1s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* esercizio 4 */
.ex-4-square{
    transition:1s;
}
.ex-4-square:hover{
    opacity: 0;
}
/* esercizio 5 */
.ex-5-square{
    transition: 1s;
}
.ex-5-square:hover{
    transform: scale(1.7);
}
.ex-5-square:active{
    transform: scale(0.7);
}
/* esercizio 6 */

.ex-6-img:hover{
    filter: grayscale(1);
}
/* esercizio 7 */
.ex-7-img{
    transition: 1s;
}

.ex-7-img:hover{
    filter: opacity(0.4) grayscale(1);
}
/* esercizio 8 */
.ex-8-img{
    transition: 1s;
}
.ex-8-img:hover{
    filter: blur(5px) sepia(1);
    border-radius: 40px;
}
/* esercizio 9 */
.ex-9-img{
    transition: 1s;
}
.ex-9-img:hover{
    filter: grayscale(1) opacity(0.5);
    border-radius: 40px;
    transform: scale(0.6);
}
/* esercizio 10 */
.ex-10-icon{
    animation: giro 2s linear infinite reverse forwards;
}
@keyframes giro{
    from{transform: rotate(360deg);
    }
    
}
/* esercizio 11 */
.ex-11-icon:hover{
    animation: giro1 2s infinite forwards;
}
@keyframes giro1{
    0%{
        transform: rotate(0);
    }
    80%{
        transform: rotate(270deg);

    }
    100%{
        transform: rotate(0);
    }
}
/* esercizio 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: giro-top 2s infinite forwards;
}
@keyframes giro-top{
    0%{
        left:20%;
    }
    50%{
        left: calc(100% - 60px)
    }
    100% {
        left: 20%;

    }

}
.ex-12-button:hover .ex-12-bottom-white{
    animation: giro-bottom 2s infinite forwards;
}
@keyframes giro-bottom{
    0%{
        right:20%;
    }
    50%{
        right: calc(100% - 60px)
    }
    100% {
        right: 20%;

    }

}
/* esercizio 13 */
/* .ex-13-top-white,
.ex-13-bottom-white{
    border:solid 1px black;
} */
.ex-13-button:hover .ex-13-top-white{
    animation: giro-top1 2s linear infinite forwards;
}

@keyframes giro-top1{
    0% {
        left: 10%;
        top: -10px;
    }
    
    29% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45%{
        left: calc(100% - 30px);
        top:90%;
    }
    74%{
        left:-30px;
        top:90%;
    }
    90%{
        left:-30px;
        top:-10px;
    }
    100%{
        left: 10%;
        top: -10px;
    }

}
.ex-13-button:hover .ex-13-bottom-white{
    animation: giro-bottom1 2s linear infinite forwards;
}

@keyframes giro-bottom1{
    0% {
        right: 10%;
        bottom: -10px;
    }
    
    29% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45%{
        right: calc(100% - 30px);
        bottom:90%;
    }
    74%{
        right:-30px;
        bottom:90%;
    }
    90%{
        right:-30px;
        bottom:-10px;
    }
    100%{
        right: 10%;
        bottom: -10px;
    }

}



